{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<h5>FastBridge</h5>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2019-2020">2019-2020: All schools</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2019-2020&school=Cosmos%20Montessori">2019-2020: Cosmos</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2019-2020&school=Lirio%20Montessori">2019-2020: Lirio</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2019-2020&school=Water%20Lily%20Montessori%20School">2019-2020: Water Lily</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2020-2021">2020-2021: All schools</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2020-2021&school=Cosmos%20Montessori">2020-2021: Cosmos</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2020-2021&school=Lirio%20Montessori">2020-2021: Lirio</a></li>
  <li class="list-group-item"><a href="fastbridge/groups/?school_year=2020-2021&school=Water%20Lily%20Montessori%20School">2020-2021: Water Lily</a></li>
</ul>

<h5>NWEA</h5>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="nwea/groups/?school_year=2020-2021">2020-2021: All schools</a></li>
  <li class="list-group-item"><a href="nwea/groups/?school_year=2020-2021&school=Alyssum+Montessori+School">2020-2021: Alyssum</a></li>
  <li class="list-group-item"><a href="nwea/groups/?school_year=2020-2021&school=Fox+Flower+Montessori">2020-2021: Fox Flower</a></li>
  <li class="list-group-item"><a href="nwea/groups/?school_year=2020-2021&school=Hawthorn+Montessori">2020-2021: Hawthorn</a></li>
  <li class="list-group-item"><a href="nwea/groups/?school_year=2020-2021&school=Gloria+Alston+Children%27s+Learning+Center">2020-2021: Gloria Alston</a></li>
</ul>

<h5>MEFS</h5>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021">2020-2021: All schools</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Minnesota+hub%2FMWMS+pod%2FCosmos+Montessori">2020-2021: Cosmos</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Minnesota+hub%2FMWMS+pod%2FLirio+Montessori">2020-2021: Lirio</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Minnesota+hub%2FMWMS+pod%2FWater+Lily+Montessori">2020-2021: Water Lily </a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Emerging+hub%2FMagnolia+Blossom+Montessori">2020-2021: Magnolia Blossom</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Massachusetts+hub%2FBroadway+pod%2FAllium+Montessori">2020-2021: Allium</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Massachusetts+hub%2FMassBridge+pod%2FDandelion+Montessori">2020-2021: Dandelion</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Massachusetts+hub%2FMassBridge+pod%2FWild+Rose%2FPrimary">2020-2021: Wild Rose Primary</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Massachusetts+hub%2FMassBridge+pod%2FWild+Rose%2FElementary">2020-2021: Wild Rose Elementary</a></li>
  <li class="list-group-item"><a href="mefs/groups/?school_year=2020-2021&group_name_mefs=Massachusetts+hub%2FSan+Lorenzo+pod%2FMarigold+Montessori">2020-2021: Marigold</a></li>
</ul>

{% endblock %}
