{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="/groups/?school_year=2019-2020">2019-2020: All schools</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2019-2020&school=Cosmos%20Montessori">2019-2020: Cosmos</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2019-2020&school=Lirio%20Montessori">2019-2020: Lirio</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2019-2020&school=Water%20Lily%20Montessori%20School">2019-2020: Water Lily</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2020-2021">2020-2021: All schools</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2020-2021&school=Cosmos%20Montessori">2020-2021: Cosmos</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2020-2021&school=Lirio%20Montessori">2020-2021: Lirio</a></li>
  <li class="list-group-item"><a href="/groups/?school_year=2020-2021&school=Water%20Lily%20Montessori%20School">2020-2021: Water Lily</a></li>
</ul>

{% endblock %}
